.form{
    flex-direction: row;
    display: block;
    margin: 10px;
   padding: 50px;
   border: 200px  blue;
 
   width: fit-content;
    box-shadow: 3px 3px 2px 3px rgba(125, 90, 128, 0.67);
}

.lable
{
    flex-direction: row;
    flex-wrap: wrap;
}

.btn{
    margin-top: 10px;
}

.inputdiv{
    margin-left: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}